<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in machine.config.comments usually located in \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration> 
  <appSettings> 
    <add key="UserNameFrameworkWS" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAbUIW/c+QR0Kp4cBiGFqpKAQAAAACAAAAAAADZgAAwAAAABAAAACLpiTaAN9tqQV4ZawvqwggAAAAAASAAACgAAAAEAAAAHNEYF2ZY8i6iWD8PDbgpgogAAAA+8tqVrH87VhlGVVhjRLjoN5hR9lA39r1KEy7JFUVVegUAAAAibZ86nRPolsN07EjdsRkzB02uOs="/>
    <add key="UserPassFrameworkWS" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAbUIW/c+QR0Kp4cBiGFqpKAQAAAACAAAAAAADZgAAwAAAABAAAADU9lonHSA1kIgV5I/nM14/AAAAAASAAACgAAAAEAAAAPb/wWGjUvcZArMZKpobOJsgAAAAN2tBm7S5s44FCqg0QPjfpUASsWs3PppuFzVQOXjaoPgUAAAA1ptID1AA8x4PTqjCfWMwIikOBNw="/>
    <add key="KeyFrameworkCC" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAbUIW/c+QR0Kp4cBiGFqpKAQAAAACAAAAAAADZgAAwAAAABAAAAAelkiXuB3Kyw1g5a6I0CJnAAAAAASAAACgAAAAEAAAALZARV6PNrpJzS07V5e/Cu24AAAAJuoRbioLBSM00R0rEmPUVHYMUnIqsdqRhgiL38NNU9+kKdvnp3syxsoozgnb7xT8pqi/3TQcZ8Q72wNHQVqJPhdwed4anyGG3EDArJGYWKSkao5IfGQyTtHqaj8/DmWAbTKC7mDsVlaZcxcevC80c35zLMBQnNI7e1YMWujOme5QEBDiZn0K/ngAjkTGwfnc5BLyCSBR9JErXSAtln+ez1rA3wt5dM3KBkJmZ9Z9+twiBxSUT82H5BQAAACcAWgiYavxrg9+DxLbtj74YrQNGw=="/>
    <add key="AfilPos_ProjectID" value="WSPR04"/>
    <add key="ProjectID" value="WSPR04"/>
    <add key="AfilPos_edadMinAfilCot" value="14"/>
    <add key="AfilPos_limiteSalariosParaAfiliacion" value="25"/>
    <add key="AfilPos_edadMinAfilConyugue" value="13"/>
    <add key="AfilPos_edadMaxAfilHijo" value="25"/>
    <add key="AfilPos_edadMaxAfilUpcAdic" value="12"/>
    <add key="" value="12"/>
    <add key="AfilPos_diasMinAAfilPos_edadMaxAfilBenUpcAdicNoParientefilCot" value="365"/>
    <add key="AfilPos_diasMinAfilBen" value="365"/>
    <add key="AfilPos_diasMinAfilUpcAdic" value="365"/>
    <add key="AfilPos_factorSalarioUpcComp" value="1"/>
    <add key="AfilPos_factorBaseUpcGrupoFam" value="150"/>
    <add key="AfilPos_activaLog" value="0"/>
    <add key="AfilPos_codigoComadmo" value="SWPR87_A"/>
    <add key="AfilPos_factorBaseCotizacion" value="12.5"/>
    <!--CONFIGURACION DE SEGURIDAD-->
    <add key="URLenlace" value="http://vmdeinstein/WSEGURIDAD/BD/CS.ASMX"/>
    <add key="URLSeguridad" value="http://vmdeinstein/WSEGURIDAD/ADUS/AU.asmx"/>
    <add key="URLSIAM" value="http://vmdeinstein/wscomeps/siam/siam.asmx"/>
    <add key="USRSIAM" value="EPS008"/>
    <add key="PWDSIAM" value="bAmKfYoYGvubpyY"/>
    <add key="URLAF" value="http://vmdeinstein/wcompensar/af/af.asmx"/>
    <add key="URLWSCAF" value="http://vmdeinstein/wcompensar/caf/caf.asmx"/>
    <add key="URLWSAFSYS" value="http://vmdeinstein/WCOMPENSAR/afsys/afsys.asmx"/>
    <add key="ConsultasBasicas.af" value="http://vmdeinstein/wcompensar/af/af.asmx"/>
    <add key="URLWSCERSALUD" value="http://vmdeinstein/SWSCERSALUD/WSCERSALUD.asmx"/>
    <add key="COMDB_CODE" value="PD"/>
    <add key="COMDB_IP" value="vmdeinstein"/>
    <add key="URLWSALDEA" value="http://vmdeinstein/WCOMPENSAR/Aldea/af.asmx"/>
    <add key="Dominio" value="CONSORCIODC"/>
    <add key="USRSIAM_VALLE" value="WEPS012"/>
    <add key="PWDSIAM_VALLE" value="webvalle01234"/>
    <add key="USRSIAM_ANTIOQUIA" value="EPS009"/>
    <add key="PWDSIAM_ANTIOQUIA" value="web091234"/>
    <add key="AfilPos_edadMaxAfilBenUpcAdicNoPariente" value="12"/>
    <!--CONFIGURACION DE TIPO DE APLICACION-->
    <add key="TipoAplicacion" value="WEB"/>
    <add key="Certificacion" value="1"/>
    <!--
        'Certificacion = 1 windows
        'Certificacion = 2 usuario - contraseña
        'Certificacion = 3 usuario - contraseña + windows
    -->
    <!--BITACORA-->
    <add key="AplLog" value="SWPR90"/>
    <!--Parametros para Registro de LOG
        
        Identifica un parámetro diferente según el Tipo de Medio de publicación seleccionado  
          Nombre de la tabla en DB es ADU_LOG       value="ADU_LOG"
            Nombre del Log                            value="SISPOSAPP"
            Nombre del Archivo                        value="C:\Inetpub\wwwroot\SISPOS\log\"
            Correo a donde se dirige Email            value="extisdacipagauta@compensar.net"
        -->
    <add key="AplLog" value="WSPR04"/>
    <add key="AplLogMedio" value="LOG"/>
    <!--'SIGLA  "LOG"          "DAT"          "ARC"          "MAI"
              'Significado:  Log de eventos  Base de datos  Archivo Plano  Correo Electrónico
           -->
    <add key="Activalog" value="N"/>
    <add key="LogAuditoriaAfiliar" value="N"/>
    <add key="AplLogMedioApp" value="WScomclientes"/>
    <add key="NombreLog" value="LOGWSCOMCLIENTES"/>
    <add key="IdAplicacion" value="WSPR04"/>
  </appSettings>
	
  <connectionStrings/>
  <system.web>
	  <httpRuntime requestValidationMode="2.0" />
    <!-- 
            Set compilation debug="true" to insert debugging symbols into the compiled page. Because this 
            affects performance, set this value to true only during development.
            Visual Basic options:
            Set strict="true" to disallow all data type conversions where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
		
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"> <!-- Esto es un nuevo propiedad para la aplicacion -->
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <!-- The <authentication> section enables configuration of the security authentication mode used by ASP.NET to identify an incoming user. -->
    <authentication mode="Windows"/>
    <!-- The <customErrors> section enables configuration of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, it enables developers to configure html error pages to be displayed in place of a error stack trace.
          <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
        <error statusCode="403" redirect="NoAccess.htm" />
        <error statusCode="404" redirect="FileNotFound.htm" />
      </customErrors>
        -->
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>
